@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Fira+Sans&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Exo 2", "FiraSans", sans-serif;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: rgb(192, 192, 192);
}

body.blocking {
  overflow: hidden;
}

.block {
  display: block;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table {
  border-collapse: collapse;
}

.btn {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: auto;
}

.input {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.img {
  display: block;
  width: 100%;
}

.color-yellow {
  color: rgb(255, 255, 0);
}

.color-red {
  color: rgb(255, 0, 0);
}

.color-navy {
  color: rgb(0, 0, 128);
}

[class*=__container] {
  margin: 0 auto;
  padding: 100px 50px;
  max-width: 1700px;
  width: 100%;
}

/*HEADER*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  min-height: 50px;
}
.header__container .header-menu {
  width: 50%;
}
.header__container .header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

/*FOOTER*/
.footer {
  background-color: rgb(0, 0, 0);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.footer-form__input {
  margin-bottom: 5px;
  padding: 20px;
  width: 100%;
  background-color: rgb(192, 192, 192);
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;
  border-radius: 3px;
  font-size: 18px;
}

.footer-form__textarea {
  margin-bottom: 5px;
  padding: 20px;
  width: 100%;
  background-color: rgb(192, 192, 192);
  border-radius: 3px;
  font-size: 18px;
}

.footer-form__input::-webkit-input-placeholder, .footer-form__textarea::-webkit-input-placeholder {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-size: 18px;
}

.footer-form__input::-moz-placeholder, .footer-form__textarea::-moz-placeholder {
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-size: 18px;
}

.footer-form__input:-ms-input-placeholder, .footer-form__textarea:-ms-input-placeholder {
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-size: 18px;
}

.footer-form__input::-ms-input-placeholder, .footer-form__textarea::-ms-input-placeholder {
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-size: 18px;
}

.footer-form__input::placeholder,
.footer-form__textarea::placeholder {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-size: 18px;
}

.footer-form__btn {
  padding: 15px;
  width: 100%;
  background-color: rgb(192, 192, 192);
  font-size: 20px;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;
  border-radius: 3px;
}

.footer-form__input::-webkit-input-placeholder, .footer-form__textarea::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-form__input::-moz-placeholder, .footer-form__textarea::-moz-placeholder {
  -moz-transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-form__input:-ms-input-placeholder, .footer-form__textarea:-ms-input-placeholder {
  -ms-transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-form__input::-ms-input-placeholder, .footer-form__textarea::-ms-input-placeholder {
  -ms-transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-form__input::placeholder,
.footer-form__textarea::placeholder {
  -webkit-transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-form__input:focus:not(:active),
.footer-form__textarea:focus:not(:active),
.footer-form__btn:focus:not(:hover):not(:active) {
  outline: 2px solid rgb(255, 255, 255);
}

.footer-form__input:focus::-webkit-input-placeholder, .footer-form__textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.footer-form__input:focus::-moz-placeholder, .footer-form__textarea:focus::-moz-placeholder {
  opacity: 0;
}

.footer-form__input:focus:-ms-input-placeholder, .footer-form__textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.footer-form__input:focus::-ms-input-placeholder, .footer-form__textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

.footer-form__input:focus::placeholder,
.footer-form__textarea:focus::placeholder {
  opacity: 0;
}

.footer-form__input:hover:not(:focus),
.footer-form__textarea:hover:not(:focus),
.footer-form__btn:hover {
  background-color: rgba(192, 192, 192, 0.5);
  color: rgb(255, 255, 255);
}

.footer-form__input:hover::-webkit-input-placeholder, .footer-form__textarea:hover::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.footer-form__input:hover::-moz-placeholder, .footer-form__textarea:hover::-moz-placeholder {
  color: rgb(255, 255, 255);
}

.footer-form__input:hover:-ms-input-placeholder, .footer-form__textarea:hover:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.footer-form__input:hover::-ms-input-placeholder, .footer-form__textarea:hover::-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.footer-form__input:hover::placeholder,
.footer-form__textarea:hover::placeholder {
  color: rgb(255, 255, 255);
}

.footer-form__btn:active {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}