.footer {
	position: relative;
	background-image: url('https://images.unsplash.com/photo-1674594702477-414f96484a0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
}
.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer__title {
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 1.0);
}
.footer-form {
	display: flex;
	flex-direction: column;
	background: transparent;
	border-radius: .3em;
	/*backdrop-filter: blur(1em); /*делает размытым фон*/
	width: 30%;
}
.footer-form__input {
	padding: 20px;
	width: 100%;
	transition: background .3s ease-in-out, color .3s ease-in-out, outline .3s ease-in-out;
	font-size: 18px;
	border-bottom: 1px solid rgba(220, 220, 220, 1.0);
}
.footer-form__textarea {
	padding: 20px;
	width: 100%;
	transition: background .3s ease-in-out, color .3s ease-in-out, outline .3s ease-in-out;
	font-size: 18px;
	resize: none;
}
.footer-form__input::placeholder,
.footer-form__textarea::placeholder {
	transition: color .3s ease-in-out;
	font-size: 18px;
	color: rgba(220, 220, 220, 1.0);
}
.footer-form__btn {
	padding: 15px;
	width: 100%;
	background-color: rgba(255, 255, 255, 1.0);
	color: rgba(0, 0, 0, 1.0);
	font-size: 20px;
	transition: background .3s ease-in-out, color .3s ease-in-out, outline .3s ease-in-out;	
}
.footer-form__input::placeholder,
.footer-form__textarea::placeholder {
	transition: opacity 0.3s ease-in-out, color .3s ease-in-out;
}
.footer-form__input:focus:not(:active),
.footer-form__textarea:focus:not(:active) {
	box-shadow: 0px 0px 3px 3px rgba(0, 50, 100, 1);
	border-color: rgba(0, 50, 100, 1);
}
.footer-form__btn:focus:not(:hover):not(:active) {
	background: transparent;
	color: rgba(255, 255, 255, 1.0);
	outline: 1px solid rgba(0, 50, 100, 1);
}
.footer-form__input:focus::placeholder,
.footer-form__textarea:focus::placeholder {
	opacity: 0;
}
.footer-form__input:hover:not(:focus),
.footer-form__textarea:hover:not(:focus),
.footer-form__btn:hover {
	background-color: rgba(192, 192, 192, .5);
	color: rgba(255, 255, 255, 1.0);	
}
.footer-form__input:hover::placeholder,
.footer-form__textarea:hover::placeholder {
	color: rgba(255, 255, 255, 1.0);
}
.footer-form__btn:active {
	background: transparent;
	outline: 1px solid rgba(0, 50, 150, 1);
	color: rgba(0, 50, 150, 1);	
}