.dom-primer-input {
	color: black;
}
.dom-primer-btn-color,
.dom-primer-btn-rise {
	color: black;
}
.dom-primer-block {
	widows: 100%;
	min-height: 50px;
}

/*dom-window*/
.window-text {
	width: 50%;
	line-height: 1.5;
}
