/*HERO-FORM*/
.form {
	display: flex;
	flex-direction: column;
	max-width: 15rem;
	width: 100%;
}
.form__label {
	position: relative;
	padding-top: 1rem;
}
.js-validate-error-label {
	position: absolute;
	top: 0;
	left: 0;
}
.form-input {
	width: 100%;
}
.form-textarea {
	width: 100%;
}
.form-input-file {
	width: 50%;
}
.form-btn {
	padding: 5px 0;
	width: 50%;
	background-color: rgba(240, 240, 240, 1.0);
	border: 1px solid #333;
	box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.2);
}
.form-btn:hover {
	background-color: rgba(220, 220, 220, 1.0);
}
.form-btn:active {
	background-color: rgba(240, 240, 240, 1.0);
	box-shadow: none;
}