.hero {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 450px;
}
.hero__container {
	padding: 5rem;
	color: rgba(255, 255, 255, 1.0);
}
.hero__title {
	margin: 0 0 20px;
	font-size: 36px;
}
.hero__text {
	width: 35%;
	font-size: 1.2em;
	line-height: 2;
}

.js-main {}
.js-main__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.js-main-menu {}
.js-main-menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 20px;
}
.js-main-menu__item {	
	margin: 0 0 20px;
	padding: 10px;
	max-width: 450px;
	min-height: 20px;
	background-color: rgba(0, 0, 0, 1);
	font-size: 28px;
	color: rgba(255, 255, 255, 1.0);
	transition: background .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}
.js-main-menu__item:hover {
	background-color: rgba(0, 0, 0, .5);
}
.js-main-menu__item:active {
	background-color: rgba(255, 255, 255, 1);
	outline: none;
	color: rgba(0, 0, 0, 1.0);	
}
.js-main-menu__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.js-main__link {
	display: inline-block;
	margin-bottom: 1rem;
	color: auto;
}

@import "_js-dom.scss";
@import "_js-test-content.scss";