@import "_fonts.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  box-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: rgba(192, 192, 192, 1);
  font-family: 'Exo 2', "FiraSans", sans-serif;
}

body.blocking {
  overflow: hidden;
}

.block {
  display: block;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: inherit;
  font-family: 'Exo 2', "FiraSans", sans-serif;
}

.text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: inherit;
  color: inherit;
  font-family: 'Exo 2', "FiraSans", sans-serif;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  font-family: 'Exo 2', "FiraSans", sans-serif;
}

.table {
  border-collapse: collapse;
  color: inherit;
  font-family: 'Exo 2', "FiraSans", sans-serif;
}

.btn {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  font-family: 'Exo 2', "FiraSans", sans-serif;
}
.btn:disabled {
  opacity: .5;
  cursor: auto;
}

.input {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: 'Exo 2', "FiraSans", sans-serif;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: 'Exo 2', "FiraSans", sans-serif;
}

.img {
  display: block;
  width: 100%;
}

.color-yellow {
  color: rgba(255, 255, 0, 1.0);
}
.color-red {  
  color: rgba(255, 0, 0, 1.0);
}
.color-navy {
  color: rgba(0, 0, 128, 1.0);
}
.fw-bold {
  font-weight: bold;
}
.warning {
  background-color: rgba(176, 224, 230, 1);
}

[class*='__container'] {
  margin: 0 auto;
  padding: 50px;
  max-width: 1700px;
  width: 100%;
}
/*HEADER*/
@import '_header.scss';
/*FOOTER*/
@import "_footer.scss";