body {
  background-color: rgba(31, 41, 55, 1);
  color: rgba(238, 238, 238, 1);
}
.hero__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-size: 60px;
}

.slider-block {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 400px;
  border: 1px solid rgb(192, 192, 192);
  overflow: hidden;
}
.slider-block__line {
  width: 100%;
}
.slider {
  display: flex;
  background-color: orangered;
  transition: all 0.3s ease-in-out;
}

.slider-block__btn {
  width: 30px;
  height: 50px;
}

.btn-prev {
  position: absolute;
  left: 10px;
  z-index: 1;
}

.btn-next {
  position: absolute;
  right: 10px;
}

.btn-prev::before,
.btn-prev::after,
.btn-next::before,
.btn-next::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: rgb(192, 192, 192);
}

.btn-next::before {
  right: 0;
  top: 11px;
  transform: rotate(60deg);
}

.btn-next::after {
  right: 0;
  bottom: 11px;
  transform: rotate(-60deg);
}

.btn-prev::before {
  left: 0;
  top: 11px;
  transform: rotate(-60deg);
}

.btn-prev::after {
  left: 0;
  bottom: 11px;
  transform: rotate(60deg);
}

.btn-prev:hover::before,
.btn-prev:hover::after,
.btn-next:hover::before,
.btn-next:hover::after {
  background-color: rgb(0, 0, 255);
}

/*info-slider*/
.info-slider {}
.info-slider__container {
  padding: 50px;
}
.info-slider__title {
  margin-bottom: 2em;
}
.info-slider-btns {
  font-size: 0;
}
.info-slider-btn {
  padding: 10px 20px;
  font-size: 20px;  
  background-color: rgba(223, 240, 216, .5);
  transition: background .3s ease-in-out, color .3s ease-in-out;
}
.info-slider-btn.open-tabs-btn {
  background-color: rgba(223, 240, 216, 1);
  color: rgba(60, 118, 61, 1);
}

.info-slider-items {
  position: relative;
  min-height: 1000px;
}
.info-slider-item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scaleZ(0);
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out, background .3s ease-in-out, color .3s ease-in-out;
}
.info-slider-item.open-tabs-item {
  opacity: 1;
  visibility: visible;
  transform: scaleZ(1);  
  background-color: rgba(223, 240, 216, 1);
  color: rgba(60, 118, 61, 1);
}
.info-slider-item__pre {
  padding: 20px;
  font-size: 18px;
}