*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1.0);
  overflow-x: hidden;

}
body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
.footer {
  margin-top: auto;
}

#popup-link {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  min-height: 30px;
  background-color: rgba(51, 51, 51, 1);
}
.popup-link__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 50px 25px;
}
.popup-link {  
  font-weight: 900;
  font-size: 20px;
  color: yellow;
  transition: color .3s ease-in-out;
}
.popup-link:focus:not(:hover):not(:active) {
  color: red;
}
.popup-link:hover {
  color: orangered;
}
.popup-link:active {
  color: powderblue;
}
#popup-1,
#popup-2,
#popup-3 {
  color: rgba(0, 0, 220, 1.0);
}
#popup-1:focus:not(:hover):not(:active),
#popup-2:focus:not(:hover):not(:active),
#popup-3:focus:not(:hover):not(:active) {
  color: navy;
}
#popup-1:hover,
#popup-2:hover,
#popup-3:hover {
  color: silver;
}
#popup-1:active,
#popup-2:active,
#popup-3:active {
  color: #333;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  font-family: Arial, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0, 0) rotatex(0deg);
}
.popup__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}
.popup__body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  min-height: 100%;
}
.popup__content {
  position: relative;
  padding: 30px;
  background-color: #fff;
  color: #000;
  max-width: 800px;
  transform: perspective(600px) translate(0, -100%) rotatex(45deg);
  transition: transform 0.3s ease-in-out;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2em;
}
.popup__title {
  font-size: 40px;
  margin-bottom: 1em;
}


/*CODE-POP-UP*/
.code-pop-up-top {
  margin-bottom: 30px;
}
.code-pop-up-top__title {
  margin-bottom: 20px;
}

/*TABS*/
.code-pop-up-btns {
  font-size: 0;
}
.code-pop-up-btn {
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgba(122, 149, 107, .5);
  color: rgba(255, 255, 255, 1);
  transition: background .3s ease-in-out;
}
.code-pop-up-btn.open-tabs-btn {
  background-color: rgba(122, 149, 107, 1);
}

.code-pop-up-items {
  position: relative;
}
.code-pop-up-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out, height .3s ease-in-out;
  height: 0;
}
.code-pop-up-item.open-tabs-item {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.code-pop-up-item__pre {
  margin: 0;
  padding: 0;
  background-color: rgba(122, 149, 107, 1);
  height: 0;
  font-size: 0;  
  transition: height .3s ease-in-out, padding .3s ease-in-out;
}
.code-pop-up-item.open-tabs-item .code-pop-up-item__pre {
  padding: 20px 20px 0;
  height: auto;
  font-size: 16px;
}