.hero__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-size: 60px;
}

.slider-block {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 80%;
  border: 1px solid rgb(192, 192, 192);
  overflow: hidden;
}

.slider {
  display: flex;
  background-color: orangered;
  transition: all 0.3s ease-in-out;
}

.slider-block__btn {
  width: 30px;
  height: 50px;
}

.btn-prev {
  position: absolute;
  left: 10px;
  z-index: 1;
}

.btn-next {
  position: absolute;
  right: 10px;
}

.btn-prev::before,
.btn-prev::after,
.btn-next::before,
.btn-next::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: rgb(192, 192, 192);
}

.btn-next::before {
  right: 0;
  top: 11px;
  transform: rotate(60deg);
}

.btn-next::after {
  right: 0;
  bottom: 11px;
  transform: rotate(-60deg);
}

.btn-prev::before {
  left: 0;
  top: 11px;
  transform: rotate(-60deg);
}

.btn-prev::after {
  left: 0;
  bottom: 11px;
  transform: rotate(60deg);
}

.btn-prev:hover::before,
.btn-prev:hover::after,
.btn-next:hover::before,
.btn-next:hover::after {
  background-color: rgb(0, 0, 255);
}

/*info-slider*/
.info-slider__container {
  padding: 50px;
}
.info-slider__title {
  margin-bottom: 2em;
}
.content-slider {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-flow: row wrap;
  column-gap: 20px;
}
.content-slider-block {
  padding: 10px;
  background-color: rgba(176, 224, 230, 1.0);
}