/*accordion-fpj*/
.accordion-fpj__container {
  padding: 100px 50px 50px;
}

.accordion-fpj__title {
  margin-bottom: 20px;
}

/*accordion-other*/
.accordion-other__title {
  margin-bottom: 20px;
}

#accord {
  max-width: 700px;
}

.accord__title {
  position: relative;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.7em;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  font-weight: normal;
  color: rgb(3, 3, 3);
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.accord__title.select-spoller {
  background-color: rgb(0, 0, 50);
  color: rgb(255, 255, 255);
}

.accord__title::before,
.accord__title::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0.5em;
  width: 25px;
  height: 2px;
  background-color: rgb(3, 3, 3);
  -webkit-transition: background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.accord__title::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.accord__title.select-spoller::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: rgb(255, 255, 255);
}

.accord-content {
  padding-left: 15px;
  padding-right: 15px;
  height: 0;
  overflow: hidden;
  color: rgb(3, 3, 3);
  -webkit-transition: height 1s;
  transition: height 1s;
}

.accord-content:not(:last-child) {
  margin-bottom: 10px;
}

.accord-content__pre {
  margin: 0;
  padding: 20px 20px 0;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(3, 3, 3);
}