body {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

/*TABS*/
.tabs__title {
  font-size: 48px;
  line-height: 3;
}

.tabs-btns {
  font-size: 0;
}

.tabs-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(0, 128, 128, 0.5);
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.tabs-btn.open-tabs-btn {
  background-color: teal;
}

.tabs-items {
  position: relative;
  min-height: 951px;
}

.tabs-item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleZ(0);
          transform: scaleZ(0);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.tabs-item.open-tabs-item {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleZ(1);
          transform: scaleZ(1);
}

.tabs-item__pre {
  margin: 0;
  padding: 20px 20px 0;
  background-color: teal;
  font-size: 16px;
}