.js-main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.js-main-menu__link {
  font-size: 16px;
}

.js-other-menu-list__btn {
  font-size: 16px;
}

.js-other-menu-list__item {
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  height: 0;
  font-size: 0;
  -webkit-transition: height 0.3s ease-in-out, font 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, font 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.js-other-menu-list__item.open-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
  font-size: 16px;
}

.dom-primer-input {
  color: black;
}

.dom-primer-btn-color,
.dom-primer-btn-rise {
  color: black;
}

.dom-primer-block {
  widows: 100%;
  min-height: 50px;
}

/*dom-window*/
.window-text {
  width: 50%;
  line-height: 1.5;
}

.js-test-content--block:not(:last-child) {
  margin: 0 0 50px;
}

.js-test-content--block h2 {
  margin: 0 0 30px;
}