.hero {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
}

.hero__container {
  padding: 5rem;
  color: rgb(255, 255, 255);
}

.hero__title {
  margin: 0 0 20px;
  font-size: 36px;
}

.hero__text {
  width: 35%;
  font-size: 1.2em;
  line-height: 2;
}